{% load static %}

<!--- #FOOTER -->

<footer class="footer">
  <div class="container">
    <p class="copyright">
      &copy; 2024 <a href="#" class="copyright-link">Prakash KC</a>. All Rights
      Reseverd
    </p>

    <ul class="footer-list">
      <li>
        <a href="#" class="footer-link">Terms & Condition</a>
      </li>

      <li>
        <a href="#" class="footer-link">Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer>

<!--- #BACK TO TOP -->

<a href="#top" class="back-to-top" data-back-to-top>BACK TOP</a>
